<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Dev-Log</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/prism.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="/" class="logo">Dev-Log</a>
            <nav>
                <a href="/explore">Explore</a>
                <a href="/about">About</a>
                <button id="theme-toggle" aria-label="Toggle Dark Mode">Dark Mode</button>
            </nav>
        </header>

        <main>
            {{ content | safe }}
        </main>

        <footer style="margin-top: 8rem; padding-bottom: 4rem; border-top: 1px solid var(--border); padding-top: 2rem;">
            <p style="font-size: 0.8rem; color: var(--text-muted);">
                &copy; {{ page.date.getFullYear() }} Qurat Ul Ain. Built with 11ty. 
            </p>
            <br>
            <small style="line-height:2rem; color: #909090; font-family: monospace; font-weight:bold;">Press <kbd style="outline:2px solid #909090; padding:2px 6px; ">H</kbd> for Home; Press <kbd style="outline:2px solid #909090; padding:2px 6px; ">E</kbd> for Explore; Press <kbd style="outline:2px solid #909090; padding:2px 6px; ">A</kbd> for About; Press <kbd style="outline:2px solid #909090; padding:2px 6px; ">T</kbd> for Theme Toggle;</small>
            
        </footer>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>