---
layout: base.njk
---
<article>
    <header class="post-header">
        <!-- post tags go here -->
        <h1 style="margin-top: 0.5rem;">{{ title }}</h1>
        <p class="post-date">{{ date | dateFilter }}</p>
        <div class="post-tags">
        {% for tag in tags %}
            <span class="post-tag">{{ tag | upper }}</span>
        {% endfor %}
    </div>
    </header>
    
    <div class="content">
        {{ content | safe }}
    </div>
</article>