---
layout: base.njk
title: About
---
<h1>About</h1>
<p>I am Qurat Ul Ain, a Computer Science graduate focused on the intersection of minimalist design and high-performance frontend engineering.</p>
<p>Currently building digital tools and writing about the quiet side of technology.</p>

<h3>Connect</h3>
<div class="social-links">
    <a href="https://github.com/ainycodes07/" class="social-item">GitHub</a>
    <a href="https://www.linkedin.com/in/ainycodes07/" class="social-item">LinkedIn</a>
    <a href="https://www.youtube.com/@ainycodes07" class="social-item">YouTube</a>
    <a href="https://dev.to/ainycodes07" class="social-item">Dev.to</a>
    <a href="https://stackoverflow.com/users/30656763/qurat-ul-ain" class="social-item">StackOverflow</a>
</div>