---
layout: base.njk
title: Home
---
<section class="hero">
    <h1>Log of a quiet engineer.</h1>
    <p style="color: var(--text-muted)">A minimal space for code, design, and internal documentation.</p>
</section>

<ul class="post-list">
  {%- for post in collections.posts | reverse -%}
    <li class="post-item">
      <a href="{{ post.url }}" class="post-link">{{ post.data.title }}</a>
      <span class="post-date">{{ post.date | dateFilter }}</span>
    </li>
  {%- endfor -%}
</ul>
